<!DOCTYPE html>
<html>
  <head>
    <title>OnlyMember</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <% if flash[:notice] %>
      <p class="alert alert-primary d-flex justify-content-between" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-warning d-flex justify-content-between" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </p>
    <% end %>

    <% if flash[:success] %>
      <p class="alert alert-success d-flex justify-content-between" role="alert">
        <%= flash[:success] %>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
